<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Municípios</ion-title>
    <ion-button (click)="presentModal()" slot="end">
      <ion-icon size="large" name="search-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let municipio of state.municipios$ | async">
    <ion-card-header>
      <ion-card-subtitle>
        {{municipio.date | date:'dd/MM/yy'}}
      </ion-card-subtitle>
      <ion-card-title>{{municipio.city}} - {{municipio.state}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{municipio.confirmed | number}} casos e {{municipio.deaths| number}}
      mortes confirmadas.
    </ion-card-content>
  </ion-card>
</ion-content>
