<ion-list *ngIf="estados">
  <ion-item *ngFor="let estado of estados">
    <ion-label>{{ estado.sigla }}</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="estado.isChecked"></ion-checkbox>
  </ion-item>
</ion-list>

<ion-list *ngIf="municipios">
  <ion-item *ngFor="let municipio of municipios">
    <ion-label>{{ municipio.nome }}</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="municipio.isChecked"></ion-checkbox>
  </ion-item>
</ion-list>

<ion-button (click)="ExcluirDados()" color="danger" slot="end">
  Excluir
  <ion-icon slot="end" name="trash-outline"></ion-icon>
</ion-button>
